[Unit]
Description=AI System Monitor & Healing Bot
After=default.target

[Service]
Type=simple

# IMPORTANT: Set project root
WorkingDirectory=/home/kanisha/system-monitoring-and-healing-bot

# Use VENV python ⭐⭐⭐
ExecStart=/home/kanisha/psutil-env/bin/python /home/kanisha/system-monitoring-and-healing-bot/src/monitor_bot.py

Restart=on-failure
RestartSec=5

Environment=PYTHONUNBUFFERED=1
Environment=DISPLAY=:0
Environment=XAUTHORITY=/home/kanisha/.Xauthority

[Install]
WantedBy=default.target

